!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/5.0.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>


<h1>Admin panel</h1>

<p>All users</p>

<div class="container">
    <!--<a class="btn btn-primary" href="/admin/new" role="button">New</a>-->
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="user :${users}">
                    <td th:utext="${user.id}">Id</td>
                    <td th:utext="${user.name}">Name</td>
                    <td th:utext="${user.surname}">Surname</td>
                    <td th:utext="${user.username}">Username</td>
                    <td th:utext="${user.password}">Password</td>
                    <td th:utext="${user.testToGetRole(user.getAuthorities()).toString()}">Roles</td>
                    <td> <a class="btn btn-info eBtn">Edit</a></td>
                   <!-- <td> <form th:method="DELETE" th:action="@{/admin/{username}(username=${user.getUsername()})}"
                               class="btn btn-danger eBtn">Delete</form></td>-->
                </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>


<div class="myForm">
    <form th:action="@{/admin/update}" method="post">
        <div class="modal fade" id="editModal" tabindex="-1"
             role="dialog" aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <h5 class="modal-title" id="editModalLabel">Update</h5>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id"
                                   class="col-form-label">ID:</label>
                            <input type="text" class="form-control"
                                   id="id" name="id" value="">
                        </div>
                        <div class="form-group">
                            <label for="name"
                                   class="col-form-label">
                                Name:</label>
                            <input type="text" class="form-control"
                                   id="name" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label for="surname"
                                   class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control"
                                   id="surname" name="surname" value="">
                        </div>
                        <div class="form-group">
                            <label for="username"
                                   class="col-form-label">Username:</label>
                            <input type="text" class="form-control"
                                   id="username" name="username" value="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="text" class="form-control"
                                   id="password" name="password" value="">
                        </div>
                        <div class="form-group">
                            <label for="editRoles" class="col-form-label">Role:</label>
                            <select id="editRoles"  multiple size="2" name="role" th:required="true" class="form-control">
                                <option th:each="role : ${allRoles}"
                                        th:value="${role.getAuthority()}"
                                        th:utext="${role.getAuthority()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="update" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<br>
<hr/>

<a href="/admin/new">Create new user</a>
<br>
<a href="/login">Logout</a>

</body>
</html>
